body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image: url('img/goal_desktop-01.png');
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

#password-protect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 10;
}

#password-protect input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#password-protect button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#goal {
    position: absolute;
    width: 38%;
    height: 12%;
    /*background-color: rgb(255, 0, 0);*/
    top: 290px;
    left: 52%;
    transform: translateX(-50%);
}

#ball {
    position: absolute;
    bottom: 36px;
    /* left: 50%; */
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(img/ball.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

#score-message {
    display: none;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(37 36 36 / 70%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

#special-message {
    margin-top: 40px;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    display: none;
}

#scoreboard{
    margin-top: 145px;
}


button {
    margin: 20px;
  }
  
  .custom-btn {
    width: 90px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .hidden{
    display: none;
  }
  
  
  /* 4 */
  .btn-4 {
    background-color: #0072BF;
  background-image: linear-gradient(315deg, #0072BF 0%, #40DEF9 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4:hover{
    background-color: #0072BF;
  background-image: linear-gradient(315deg, #40DEF9 0%, #0072BF 74%);
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  /*.btn-4:before {
    height: 0%;
    width: .1px;
  }
  .btn-4:after {
    width: 0%;
    height: .1px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }*/
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }

  .custom-btn-close{
    margin: 20px;
    border: none;
    background: none;
    font-size: 20px;
    color: #ccc;
    position: absolute;
    margin-top: -12px;
    margin-left: 140px;
  }

  .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
  }
 

  .container-button{
    display: flex;
flex-wrap: wrap;
margin-top: -10px;
  }



@media (max-width: 600px) {
    body{
        background-image: url('img/goal_smartphone-01.png');
        background-size: cover;
        overflow: hidden;
    }
}

@media (max-width: 1126px) {
   body{
      background-image: url('img/goal_smartphone-02.png');
      background-size: cover;
      overflow: hidden;
    }
#goal{
    position: absolute;
    width: 33%;
    height: 8%;
    top: 362px;
    left: 50%;
    transform: translateX(-50%);
}
h1{
    padding-top: 30px;
}

.container-button {
    margin-top: -20px;
}
#scoreboard {
    margin-top: 110px;
    padding: 15px;
}
   

    #ball {
        width: 40px;
        height: 40px;
    }
}